* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f5f5d9;
  color: #123b51;
  font-family: 'Josefin Sans', sans-serif;
  margin:14px;
  padding: 4rem;
}

h1 {
  color:#113f47;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

p {
  color:#1f2f31;
  margin-left: 11px;
  padding-left: 3px;
}
/*
hr {
  border: 1.6px solid #113f47;
}
*/
.job-name {
  font-weight: bold;
  /*  position:right;text-align:right */
}

#job {
  display: grid;
  grid-template-columns:1fr 1fr;
  margin-left: 11px;
  padding-left: 3px;
}

#jb-item {
  justify-self:start;
  /*text-align: left;*/
  /* flex-grow:2;*/
}

#jb-item-b {
  justify-self: end;
/*  text-align: right;*/
  /* flex-grow:2;*/
}

#jb-item-title {
  font-style: italic;
  justify-self: start;
}